.depend
Makefile
Makefile.bak
Makefile.dep
Canna.conf
include
cannaconf.h
accanna.h
accanna.h.in
configure
config.status
config.log
config.cache
autom4te.cache
pubconf.h
cwenv.sh
cwlocal.sh
*.exe
*.o
